.rectangle {
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 10px;
    color:white;
}
.culoaretext {
    color:gray;
}

.culoare0 {
    background-color: rgb(174, 36, 215);
}

.culoare1 {
    background-color: rgb(107, 0, 117);
}

.culoare2 {
    background-color: rgb(21, 239, 39);
}

.culoare3 {
    background-color: rgb(80, 232, 255);
}

.culoare4 {
    background-color: rgb(208, 121, 27);
}

.culoare5 {
    background-color: rgb(192, 16, 16);
}

.culoare6 {
    background-color: rgb(16, 103, 150);
}

.culoare7 {
    background-color: rgb(0, 0, 0);
}

.culoare8 {
    background-color: rgb(84, 88, 84);
}

.culoare9 {
    background-color: rgb(255, 255, 255);
}
